.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
}

ul li, a{
    list-style: none;
    padding: 15px 10px;
    text-decoration: none;
    color: black;
}