*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
}

.header{
    grid-area: header;
}
.main {
    grid-area: main;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem 1fr;
    min-height: 100vh;
    row-gap: 3rem;
    grid-template-areas: 
    "header header header"
    "main main main";
}